<p>
    Read the companion blogs 
  <%= link_to "Rails 3: Using link_to :remote => true with jQuery UJS", "http://tech.thereq.com/post/17243732577/rails-3-using-link-to-remote-true-with-jquery-ujs" %>
  and
  <%=  link_to "Rails 3: Using form :remote => true with jQuery UJS", "http://tech.thereq.com/post/18910961502/rails-3-using-form-remote-true-with-jquery-ujs" %>
  
</p>

<ul>
     <li><%= link_to "View the Demo!", articles_path %></li>
</ul>