<p>
    Read the companion blog <%= link_to "Rails 3: Using link_to :remote => true with jQuery UJS", "http://tech.thereq.com/post/17243732577/rails-3-using-link-to-remote-true-with-jquery-ujs" %>
</p>

<ul>
     <li><%= link_to "Demos of link_to :remote => true", articles_path %></li>
</ul>